ul
  &.options
    padding 0
    display block
    list-style none
    width 30rem
    transition width 0.3s
    margin 0
    position relative

    li
      display block
      background white
      padding 5px
      width 100%
      border-radius 2px

      &:hover
        font-weight bold
        color #00b4cc
        cursor pointer
        transition 0.3s all

      &.option-active
        background whitesmoke
        color #00b4cc

.no-options
  color white